*{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.navigation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
}
.link{
    margin: 2%;
    text-decoration: none;
    padding: 10px 4px;
}
.link:hover{
    color: rgb(255, 0, 0);
}
#pp{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition:all 0.3s;

}
main{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    cursor: pointer;

}
#pp:hover{
/*haha*/
transform: rotate(360deg);

/*translate: -100px;*/
}
.intro{
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(156, 156, 156);
    font-weight: 900;
}
#po{
    text-align: center;
    font-size:70PX;
    font-weight: 900;
    color: rgb(255, 255, 255);
    
}
#po:hover{
    color: rgb(198, 198, 198);
}
#intro1{
    margin:0% ;
    font-size: 26px;
}
.q{
    color: rgb(156, 66, 240);
}
.q:hover{
    color: rgb(191, 131, 247);
    cursor: pointer;
}
#contact{
    background-color: rgb(56, 202, 255);
    border-radius: 50px;
    padding: 10px 15px;

}
#contact:hover{
    color: white;

}
#about{
    margin-top: 5%;
    border: 3px solid white;
    padding: 2%;
    width: 550px;
    height: auto;
}
#projects{
    margin-top: auto;
    border-top: 3px solid white;
    padding: 2%;

    height: auto;
}/*
.fun{
    margin-top:15% ;
    display: flex;
    justify-content: space-evenly;
}*/
#vid{
    display: flex;
    justify-content: space-evenly;
}
#graphic{
    display: flex;
    justify-content: space-between;
}